
<launch>
    <node name="wp_tracer" pkg="waypoint_tools" type="wp_tracer" output="screen">
        <param name="waypoint_pitch" value="1.0"/>
    </node>
    <node name="path_number" pkg="waypoint_tools" type="path_number" output="screen"/>
    <node name="tf_test" pkg="waypoint_tools" type="tf_broadcast_test" output="screen"/>
</launch>
